@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 120em) {
  html {
    font-size: 130%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.masthead {
	overflow: hidden;
}

.title {
	text-align: center;
}

/* LOGO BEGIN */

.hexagon {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #38d4d6;
  margin: 28.87px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 14.6447px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.hexagon:before {
  top: -35.3553px;
}

.hexagon:after {
  bottom: -35.3553px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:100px;
  height:57.7350px;
  z-index: 2;
  background: inherit;
}

/* LOGO END */

.nav {
	padding: 0;
	text-align: center;
}

.nav li {
	display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;

	color: #3cc;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #6cc;
  border-radius: 15px;
  color: #fff;
}

a:focus {
	outline: 3px solid #095C7C;
}

.section-dark {
  background-color: #ccc;
}

.section-mid {
  background-color: #e2e2e2;
}

.section {
  background-color: #9cc;
}

.intro {
  text-align: center;
}

span {
  display: none;
}

.light-grey {
  background-color: lightgray;
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(153, 204, 204, 0), rgba(153, 204, 204, 0.75), rgba(153, 204, 204, 0));
}

.profile {
	border-radius: 50px;
}

::selection {
	background: #9cc;
}

@media only screen and (min-width: 25em) {

  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

  .copyright {
    text-align: center;
    color: #9cc;
  }

  span {
    display: inline;
  }
}

@media only screen and (min-width: 38em) {

  .nav {
  	display: inline-block;
    text-align: center;
  }

  h1 {
  	size: exa;
  }
}

@media only screen and (min-width: 60em) {

  .img-flex {
    padding-right: 7.5%;
  }
}