/* ----- COLOUR PALETTE -----
#3cc = rgb(51,204,204)
Shades:
#2db7b7
#28a3a3
#238e8e
#1e7a7a
#196666
#145151
#0f3d3d
#0a2828
#051414
#000000

Tints:
#47d1d1
#5bd6d6
#70dbdb
#84e0e0
#99e5e5
#adeaea
#c1efef
#d6f4f4
#eaf9f9
#ffffff

#6cc
#9cc

#099
Orange #f60
Navy #095C7C

*/

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 120em) {
  html {
    font-size: 130%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
	overflow: hidden;
  position: fixed;
  background-color: #fff
}

.title {
	text-align: center;
}

/* ----- LOGO ----- */

.logo {
  width: 25%;
  border-radius: 50px;
}

/* ----- IMAGES ----- */

.piece {
  border-radius: 50px;
}

.img-flex {
  display: block;
  width: 100%;
}

.profile {
  border-radius: 200px;
}

/* ----- NAVIGATION ----- */

.nav {
	padding: 0;
	text-align: center;
}

.nav ul {
  padding: 0;
}

.nav li {
	display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;

	color: #099;
	text-decoration: none;

}

.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #6cc;
  border-radius: 15px;
  color: #fff;
}

a:focus {
	outline: 3px solid #095C7C;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
  display: block;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 5px;
  right: 2.5%;
  background: transparent url('../images/nav-icon.svg') no-repeat center center;
  border: 2px solid #6cc;

  -webkit-border-radius: 20px;
  -moz-boder-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
  background-color: #6cc;
  border: none;
}

.links {
  border: 1px solid #6cc;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 5px;
}

header {
  z-index: 3;
}

/* ----- JAVASCRIPT FOR NAV -----
.nav-btn[data-state="active"] {
  background: transparent url(../images/nav-close.svg) no-repeat center center;
}

.nav-btn[data-state="active"]:hover,
.nav-btn[data-state="active"]:focus,
.nav-btn[data-state="active"]:active {
  background-color: #6cc;
  border: none;
}

.nav-top {
  max-height: 0;
  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  overflow: hidden;
}

.nav-top[data-state="expanded"] {
  max-height: 14rem;
}
*/
.ease-all {
  -moz-text-size-adjust: all 300ms cubic-bezier(0.785,0.135,0.15,1.55);
  -ms-text-size-adjust: all 300ms cubic-bezier(0.785,0.135,0.15,1.55);
  -webkit-text-size-adjust: all 300ms cubic-bezier(0.785,0.135,0.15,1.55);
  -o-text-size-adjust: all 300ms cubic-bezier(0.785,0.135,0.15,1.55);
  transition: all 300ms cubic-bezier(0.785,0.135,0.15,1.55);
}

nav,
#menuTrigger {
  display: none;
}

#menuTrigger:checked + nav {
  display: block;
}

/* ----- SOCIAL ----- */

.social li {
  display: inline-block;
  text-align: center;
}

.social li a,
.social li a:link,
.social li a:visited {
  display: block;
  width: 40px;
  height: 40px;
  padding-top: 8px;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  
  color: #FFF;
  
  -webkit-box-shadow: inset 0px 0px 0px 40px #099;
  -moz-box-shadow: inset 0px 0px 0px 40px #099;
  -ms-box-shadow: inset 0px 0px 0px 40px #099;
  -o-box-shadow: inset 0px 0px 0px 40px #099;
  box-shadow: inset 0px 0px 0px 40px #099;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
  -webkit-box-shadow: inset 0px 0px 0px 3px #099;
  -moz-box-shadow: inset 0px 0px 0px 3px #099;
  -ms-box-shadow: inset 0px 0px 0px 3px #099;
  -o-box-shadow: inset 0px 0px 0px 3px #099;
  box-shadow: inset 0px 0px 0px 3px #099;
  background-color: #fff;
  color: #099;
}

/* ----- LINKED TEXT ----- */

a,
a:link {
  color: #9cc;
  text-decoration: none;
  transition: all 150ms linear;  
}

a:visited {
  color: rgba(0,102,102,1);
}

a:hover,
a:focus,
a:active {
  color: #F60;
}

a:hover,
a:active {
  outline: none;
}

a:focus,
input:focus,
button:focus {
  outline: 3px double purple;
}


/* ----- MISCELLANEOUS ----- */

.hide-text {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.section-dark {
  background-color: #ccc;
}

.section-mid {
  background-color: #e2e2e2;
}

.section {
  background-color: #9cc;
}

span {
  display: none;
}

.light-grey {
  background-color: lightgray;
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(51, 204, 204, 0), rgba(51, 204, 204, 0.75), rgba(51, 204, 204, 0));
}

/* ----- MAIN -----*/

.main {
  margin-top: 150px;
}

.box:hover {
  border: 1px solid #5cc;
  color: white;
}

.box {
  text-align: center;
  border: 1px solid lightgrey;
  padding: 0 5%;
  margin-bottom: 2.5%;
}

.box p {
  text-align: left;
}

.main h2 {
  margin-bottom: 0;
}

.collapse{
  font-size: 31px;
  display:block;
}

.collapse + input{
  display:none;
}

.collapse + input + *{
  display:none;
}

.collapse+ input:checked + *{
  display:block;
}

/* ----- IMAGE SLIDER ----- */

.pagedImages {
  border: 2px solid #5cc;
  font-size: .1px;
  height: 200px;
  margin: 0;
  overflow-x: auto;
  /* fallback for IE8 and other browsers that do not support new CSS3 selectors */
  
  overflow-y: hidden;
  /* fallback */
  
  padding: 0 0 20px 0;
  /* fallback */
  
  position: relative;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 10px;
}
  /* fallback overdrive */

head ~ body:nth-of-type(1):nth-last-of-type(1) .pagedImages {
  overflow: hidden;
  padding: 0;
}

.pagedImages > ul {
  background: #000;
  display: inline-block;
  line-height: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 100%;
}

.pagedImages > ul > li {
  display: inline-block;
  font-size: 10pt;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 25%;
}

.pagedImages > ul > li > a:first-child {
  display: block;
}

.pagedImages > ul > li > a:first-child ~ * {
  display: none;
}

.pagedImages > ul > li > a > img {
  border: 0;
  display: inline-block;
  max-height: 400px;
  max-width: 400px;
  margin: -100px;
  opacity: .7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  vertical-align: middle;
}

.pagedImages > ul > li:hover > a:first-child > img {
  opacity: 1;
  max-width: 200px;
  min-width: 200px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.pagedImages > input {
  display: none;
}

.pagedImages > label {
  background: rgba(0, 0, 0, .6);
  color: #FFF;
  cursor: pointer;
  display: block;
  height: 100%;
  line-height: 200px;
  overflow: hidden;
  padding-left: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 0;
  visibility: hidden;
  z-index: 1;
}

.pagedImages > label:hover {
  background: #FFF;
  color: #000;
}

.pagedImages > label:before {
  display: block;
  font-size: 30pt;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.pagedImages > input:nth-of-type(1):checked ~ ul:nth-of-type(1) {
  margin-left: 0;
}

.pagedImages > input:nth-of-type(2):checked ~ ul:nth-of-type(1) {
  margin-left: -100%;
}

.pagedImages > input:nth-of-type(3):checked ~ ul:nth-of-type(1) {
  margin-left: -200%;
}

.pagedImages > input:nth-of-type(4):checked ~ ul:nth-of-type(1) {
  margin-left: -300%;
}

.pagedImages > input:nth-of-type(5):checked ~ ul:nth-of-type(1) {
  margin-left: -400%;
}

.pagedImages > input:nth-of-type(6):checked ~ ul:nth-of-type(1) {
  margin-left: -500%;
}

.pagedImages > input:nth-of-type(7):checked ~ ul:nth-of-type(1) {
  margin-left: -600%;
}

.pagedImages > input:nth-of-type(8):checked ~ ul:nth-of-type(1) {
  margin-left: -700%;
}

.pagedImages > input:nth-of-type(9):checked ~ ul:nth-of-type(1) {
  margin-left: -800%;
}

.pagedImages > input:nth-of-type(1):checked ~ label:nth-last-of-type(1),
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(1),
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(2),
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(3),
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(4),
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(5),
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(6),
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(7),
.pagedImages > input:nth-of-type(9):checked ~ label:nth-of-type(8) {
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, .5);
  visibility: visible;
}

.pagedImages > input:nth-of-type(1):checked ~ label:nth-last-of-type(1):before,
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(1):before,
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(2):before,
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(3):before,
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(4):before,
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(5):before,
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(6):before,
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(7):before,
.pagedImages > input:nth-of-type(9):checked ~ label:nth-of-type(8):before {
  content: '◀';
  color: #6cc;
}

.pagedImages > input:nth-of-type(1):checked ~ label:nth-of-type(2),
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(3),
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(4),
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(5),
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(6),
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(7),
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(8),
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(9),
.pagedImages > input:nth-last-of-type(1):checked ~ label:nth-of-type(1) {
  border-left: 1px solid rgba(0, 0, 0, .5);
  right: 0;
  visibility: visible;
}

.pagedImages > input:nth-of-type(1):checked ~ label:nth-of-type(2):before,
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(3):before,
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(4):before,
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(5):before,
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(6):before,
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(7):before,
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(8):before,
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(9):before,
.pagedImages > input:nth-last-of-type(1):checked ~ label:nth-of-type(1):before {
  content: '▶';
  color: #6cc;
}

.pagedImages > ul > li:target {
  background: rgba(0, 0, 0, .8);
  cursor: default;
  height: 100%;
  font-size: 12pt;
  left: 0;
  line-height: 125%;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  white-space: normal;
  z-index: 2;
}

.pagedImages > ul > li:target > a:first-child {
  display: inline;
}

.pagedImages > ul > li:target > a:first-child ~ * {
  background: #FFF;
  border-radius: 2em;
  display: block;
  margin: 1em auto;
  padding: 1.5em;
  text-align: left;
  width: 30em;
}

.pagedImages > ul > li:target > a:first-child > img {
  margin: 1em;
  opacity: 1;
  max-height: 400px;
  max-width: 400px;
  -webkit-transition: none;
  transition: none;
}

/* ----- RESPONSIVE ----- */

@media only screen and (min-width: 25em) {

  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

  span {
    display: inline;
  }

  .logo {
    width: 15%;
    display: inline-block;
  }

  .box {
    margin-bottom: 1%;
  }
}

@media only screen and (min-width: 38em) {

  .nav {
    text-align: center;
  }

  h1 {
  	size: exa;
  }

  .logo {
    width: 10%;
  }

  .box {
    margin-bottom: 0.5%;
    padding: 0 10%;
  }
}

@media only screen and (min-width: 60em) {

  .img-flex {
    padding-right: 7.5%;
  }

  .logo {
    width: 5%;
  }

  .box {
    margin-bottom: 0.25%;
    padding: 0 20%;
  }
}