// Colours

// Pantone 3265 C
// RGB 0, 199, 177
$turq: #00c7b1;
// Pantone 316 C
// RGB 0, 72, 81
$teal: #004851;
// Pantone 374 C
// RGB 194,229,117
$green: #c2e575;
$lturq: #99e8df;
$black: #000;
$white: #fff;

// Font Families

$josefin: 'Josefin Sans', sans-serif;

$body: $josefin;