---
layout: default
---

{% for piece in site.data.pieces %}
  <article class="box">
      <label class="collapse" for="{{piece.for}}"><h2>{{piece.name}}</h2></label>
    <input id="{{piece.id}}" type="checkbox">
      <div class="unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="piece" src="{{site.image}}" alt="Piece">
        <p>{{site.paragraph}}</p>
        {% include image-slider.html %}
      </div>
  </article>
{% endfor %}

<article class="box">
  <label class="collapse" for="_1"><h2>Piece 1</h2></label>
  <input id="_1" type="checkbox">
  <div class="unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
    <img class="piece" src="http://placehold.it/100/9cc/fff/?text=IMG" alt="">
    <p>Cupcake ipsum dolor sit. Amet jelly beans cookie jelly-o pastry carrot cake. Gummies jelly-o cake. Jelly apple pie soufflé candy tart icing. Apple pie caramels muffin. Caramels soufflé candy oat cake macaroon candy chocolate bar. Brownie jelly-o danish sugar plum jelly-o I love marshmallow. Cupcake sugar plum apple pie tart chocolate jelly beans icing dragée sesame snaps. Powder donut lollipop sugar plum pie. Fruitcake macaroon toffee jelly-o chupa chups sugar plum. Soufflé halvah marzipan fruitcake gummies.</p>
    {% include image-slider.html %}
  </div>
</article>
<article class="box">
  <label class="collapse" for="_2"><h2>Piece 2</h2></label>
  <input id="_2" type="checkbox">
  <div class="unit-xs-1 unit-s-1">
    <img class="piece" src="http://placehold.it/100/9cc/fff/?text=IMG" alt="">
    <p>Chocolate marzipan icing gummies. Chocolate chupa chups jelly beans sugar plum. Donut marzipan pudding ice cream I love cookie carrot cake. Topping tootsie roll sweet I love chocolate bar chupa chups lemon drops jelly. Lollipop fruitcake jelly beans biscuit marshmallow macaroon topping. Apple pie cake I love I love pudding topping sugar plum halvah cake. Candy canes ice cream fruitcake.</p>
    {% include image-slider.html %}
  </div>
</article>
<article class="box">
  <label class="collapse" for="_3"><h2>Piece 3</h2></label>
  <input id="_3" type="checkbox">
  <div class="unit-xs-1 unit-s-1-2">
    <img class="piece" src="http://placehold.it/100/9cc/fff/?text=IMG" alt="">
    <p>I love wafer wafer lollipop bonbon. Chupa chups I love gingerbread sesame snaps. Topping dragée bonbon cotton candy cake jelly beans. Tiramisu croissant bonbon. Liquorice halvah tiramisu bear claw candy apple pie candy. Macaroon tiramisu tootsie roll sweet roll. Jelly I love chupa chups wafer chocolate cake marshmallow bear claw.</p>
    {% include image-slider.html %}
  </div>
</article>
<article class="box">
  <label class="collapse" for="_4"><h2>Piece 4</h2></label>
  <input id="_4" type="checkbox">
  <div class="unit-xs-1 unit-s-1-2 unit-offset-s-1-2">
    <img class="piece" src="http://placehold.it/100/9cc/fff/?text=IMG" alt="">
    <p>I love caramels chupa chups I love halvah jelly jelly. Brownie jelly brownie marshmallow. Dessert cake cake bear claw icing. Jelly ice cream tootsie roll. Pastry I love liquorice carrot cake sugar plum. Marzipan chocolate bar jelly beans sesame snaps. Topping apple pie danish candy canes.</p>
    {% include image-slider.html %}
  </div>
</article>
<article class="box">
  <label class="collapse" for="_5"><h2>Piece 5</h2></label>
  <input id="_5" type="checkbox">
  <div class="unit-xs-1 unit-s-1-2">
    <img class="piece" src="http://placehold.it/100/9cc/fff/?text=IMG" alt="">
    <p>Tiramisu bear claw macaroon cupcake gummi bears macaroon pudding. Jelly beans chocolate bar chocolate bar icing tootsie roll bonbon topping. Topping tiramisu bear claw icing topping. Sugar plum croissant candy canes bear claw I love. Sugar plum macaroon I love. Cheesecake apple pie cheesecake pastry I love. Dessert donut cheesecake I love I love gingerbread. Danish pastry gummies pastry pudding cake marshmallow bear claw I love. Cake candy canes I love fruitcake powder cake candy jelly sesame snaps. Muffin carrot cake tiramisu.</p>
    {% include image-slider.html %}
  </div>
</article>
<article class="box">
  <label class="collapse" for="_6"><h2>Piece 6</h2></label>
  <input id="_6" type="checkbox">
  <div class="unit-xs-1 unit-s-1-2 unit-offset-s-1-2">
    <img class="piece" src="http://placehold.it/100/9cc/fff/?text=IMG" alt="">
    <p>Cupcake ipsum dolor sit. Amet jelly beans cookie jelly-o pastry carrot cake. Gummies jelly-o cake. Jelly apple pie soufflé candy tart icing. Apple pie caramels muffin. Caramels soufflé candy oat cake macaroon candy chocolate bar. Brownie jelly-o danish sugar plum jelly-o I love marshmallow. Cupcake sugar plum apple pie tart chocolate jelly beans icing dragée sesame snaps. Powder donut lollipop sugar plum pie. Fruitcake macaroon toffee jelly-o chupa chups sugar plum. Soufflé halvah marzipan fruitcake gummies.</p>
    {% include image-slider.html %}
  </div>
</article>
<article class="box">
  <label class="collapse" for="_7"><h2>Piece 7</h2></label>
  <input id="_7" type="checkbox">
  <div class="unit-xs-1 unit-s-1-2">
    <img class="piece" src="http://placehold.it/100/9cc/fff/?text=IMG" alt="">
    <p>Chocolate marzipan icing gummies. Chocolate chupa chups jelly beans sugar plum. Donut marzipan pudding ice cream I love cookie carrot cake. Topping tootsie roll sweet I love chocolate bar chupa chups lemon drops jelly. Lollipop fruitcake jelly beans biscuit marshmallow macaroon topping. Apple pie cake I love I love pudding topping sugar plum halvah cake. Candy canes ice cream fruitcake.</p>
    {% include image-slider.html %}
  </div>
</article>
<article class="box">
  <label class="collapse" for="_8"><h2>Piece 8</h2></label>
  <input id="_8" type="checkbox">
  <div class="unit-xs-1 unit-s-1-2 unit-offset-s-1-2">
    <img class="piece" src="http://placehold.it/100/9cc/fff/?text=IMG" alt="">
    <p>I love wafer wafer lollipop bonbon. Chupa chups I love gingerbread sesame snaps. Topping dragée bonbon cotton candy cake jelly beans. Tiramisu croissant bonbon. Liquorice halvah tiramisu bear claw candy apple pie candy. Macaroon tiramisu tootsie roll sweet roll. Jelly I love chupa chups wafer chocolate cake marshmallow bear claw.</p>
    {% include image-slider.html %}
  </div>
</article>
<article class="box">
  <label class="collapse" for="_9"><h2>Piece 9</h2></label>
  <input id="_9" type="checkbox">
  <div class="unit-xs-1 unit-s-1-2">
    <img class="piece" src="http://placehold.it/100/9cc/fff/?text=IMG" alt="">
    <p>I love caramels chupa chups I love halvah jelly jelly. Brownie jelly brownie marshmallow. Dessert cake cake bear claw icing. Jelly ice cream tootsie roll. Pastry I love liquorice carrot cake sugar plum. Marzipan chocolate bar jelly beans sesame snaps. Topping apple pie danish candy canes.</p>
    {% include image-slider.html %}
  </div>
</article>
<article class="box">
  <label class="collapse" for="_10"><h2>Piece 10</h2></label>
  <input id="_10" type="checkbox">
  <div class="unit-xs-1 unit-s-1-2 unit-offset-s-1-2">
    <img class="piece" src="http://placehold.it/100/9cc/fff/?text=IMG" alt="">
    <p>Tiramisu bear claw macaroon cupcake gummi bears macaroon pudding. Jelly beans chocolate bar chocolate bar icing tootsie roll bonbon topping. Topping tiramisu bear claw icing topping. Sugar plum croissant candy canes bear claw I love. Sugar plum macaroon I love. Cheesecake apple pie cheesecake pastry I love. Dessert donut cheesecake I love I love gingerbread. Danish pastry gummies pastry pudding cake marshmallow bear claw I love. Cake candy canes I love fruitcake powder cake candy jelly sesame snaps. Muffin carrot cake tiramisu.</p>
    {% include image-slider.html %}
  </div>
</article>