<section class="pagedImages qb">
  <input id="page1" accesskey="1" type="radio" name="pagedImages1" title="Images page 1" checked="checked" />
  <input id="page2" accesskey="2" type="radio" name="pagedImages1" title="Images page 2" />
  <input id="page3" accesskey="3" type="radio" name="pagedImages1" title="Images page 3" />
  <label for="page1" title="To page 1">1</label>
  <label for="page2" title="To page 2">2</label>
  <label for="page3" title="To page 3">3</label>
  <ul title="This is page 1">
    <li id="image1">
      <a href="#image1"><img alt="Spread 1" src="{{site.baseurl}}/images/{{piece.image3}}" /></a>
      <article>
        <h3>Spread 1</h3>
        <p>empathy</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
    <li id="image2">
      <a href="#image2"><img alt="Spread 2" src="{{site.baseurl}}/images/{{piece.image4}}" /></a>
      <article>
        <h3>Spread 2</h3>
        <p>dark places</p>
        <p><a href="#">Close</a></p>
      </article>
      <aside>
        <p>You can have more than one element here and it doesn't need to be article.</p>
      </aside>
    </li>
    <li id="image3">
      <a href="#image3"><img alt="Spread 3" src="{{site.baseurl}}/images/{{piece.image5}}" /></a>
      <article>
        <h3>ugliest</h3>
        <p>Have here whatever you like.</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
    <li id="image4">
      <a href="#image4"><img alt="Spread 4" src="{{site.baseurl}}/images/{{piece.image6}}" /></a>
      <article>
        <h3>Spread 4</h3>
        <p>blood</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
  </ul>
  <ul title="This is page 2">
    <li id="image5">
      <a href="#image5"><img alt="Spread 5" src="{{site.baseurl}}/images/{{piece.image7}}" /></a>
      <article>
        <h3>Spread 5</h3>
        <p>cruelty</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
    <li id="image6">
      <a href="#image6"><img alt="Spread 6" src="{{site.baseurl}}/images/{{piece.image8}}" /></a>
      <article>
        <h3>Spread 6</h3>
        <p>psychopaths</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
    <li id="image7">
      <a href="#image7"><img alt="Spread 7" src="{{site.baseurl}}/images/{{piece.image9}}" /></a>
      <article>
        <h3>Spread 7</h3>
        <p>sand</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
    <li id="image8">
      <a href="#image8"><img alt="Spread 8" src="{{site.baseurl}}/images/{{piece.image10}}" /></a>
      <article>
        <h3>Spread 8</h3>
        <p>curious</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
  </ul>
</section>