<section class="pagedImages">
  <input id="page1" accesskey="1" type="radio" name="pagedImages1" title="Images page 1" checked="checked" />
  <input id="page2" accesskey="2" type="radio" name="pagedImages1" title="Images page 2" />
  <input id="page3" accesskey="3" type="radio" name="pagedImages1" title="Images page 3" />
  <label for="page1" title="To page 1">1</label>
  <label for="page2" title="To page 2">2</label>
  <label for="page1" title="To page 1">1</label>
  <ul title="This is page 1">
    <li id="image1">
      <a href="#image1"><img class="img-margin" alt="Rationale" src="{{site.baseurl}}/images/{{piece.image3}}" /></a>
      <article>
        <h3>Rationale</h3>
        <p>This is the design rationale.</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
    <li id="image2">
      <a href="#image2"><img class="img-margin" alt="" src="{{site.baseurl}}/images/{{piece.image4}}" /></a>
      <article>
        <h3>The Design</h3>
        <p>Have here whatever you like.</p>
        <p><a href="#">Close</a></p>
      </article>
      <!-- <aside>
        <p>You can have more than one element here and it doesn't need to be article.</p>
      </aside> -->
    </li>
    <li id="image3">
      <a href="#image3"><img class="img-margin" alt="" src="{{site.baseurl}}/images/{{piece.image5}}" /></a>
      <article>
        <h3>Manual</h3>
        <p>Have here whatever you like.</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
  </ul>
  <ul title="This is page 2">
    <li id="image4">
      <a href="#image4"><img class="img-margin" alt="" src="{{site.baseurl}}/images/{{piece.image6}}" /></a>
      <article>
        <h3>Prototype Page 1</h3>
        <p>Have here whatever you like.</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
    <li id="image5">
      <a href="#image5"><img class="img-margin" alt="" src="{{site.baseurl}}/images/{{piece.image7}}" /></a>
      <article>
        <h3>Prototype Page 2</h3>
        <p>Have here whatever you like.</p>
        <p><a href="#">Close</a></p>
      </article>
    </li>
  </ul>
</section>