<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Anita Chanthavong{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="{{page.meta}}">
	<!-- Open Graph -->
	<meta property="og:type" content="article">
 	<meta property="og:title" content="Anita Chanthavong · Graphic Design · Ottawa, Ontario">
  	<meta property="og:url" content="https://chan0345.github.io/portfolio">
  		<!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  	<meta property="og:image" content="http://fullurl.com/to-this/image.jpg">
  	<meta property="og:site_name" content="Anita Chanthavong · Graphic Design · Ottawa, Ontario">
  	<meta property="og:description" content="A collection of works created by Anita Chanthavong.">
  	<!-- Twitter Card -->
  	<meta name="twitter:card" content="summary">
 	<meta name="twitter:title" content="Title of this page, same as title tag">
  	<meta name="twitter:url" content="http://fullurl.com/to-this/page/">
  	<meta name="twitter:description" content="Description of this page, same as meta description">
  	<!-- The image should be 120x120 pixels in dimension -->
  	<meta name="twitter:image" content="http://fullurl.com/to-this/image.jpg">
 	<!-- Links -->
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,700,600,300' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body id="body">
<header class="unit grid unit-xs-1">
	<div class="unit-xs-1-4 pad-top-half">
		<a href="/" rel="home"><img src="http://placehold.it/100/9cc/fff/?text=LOGO" class="logo" alt="Logo" title="Anita Chanthavong"></a>
	</div>
	<div class="unit-xs-1-2 unit-s-1-2">
		<h1 class="push-0 center">Anita Chanthavong</h1>
	</div>
	<div>
		<a href="#nav" class="nav-btn hide-text ease-all" data-state="inactive" title="Navigation" alt="Navigation"><label for="menuTrigger"><i class="fa fa-bars"></i><span class="hide-text">Navigation</label></span></a>
		<input id="menuTrigger" type="checkbox">
		<nav class="nav nav-top" data-state="collapsed" role="navigation">
			<ul class="push-half">
				<li><a href="#work" class="links" rel="work">Work</a></li>
				<li><a href="#about" class="links" rel="about">About</a></li>
			</ul>
			<ul class="social push-0">
				<li><a class="island-1-2 ease-all" title="Call me!" href="tel:+16136008992" rel="Cell Number"><i class="fa fa-phone"></i><span class="hide-text">Tel</span></a></li>
				<li><a class="island-1-2 ease-all" title="Email me!" href="mailto:ac@anitachanthavong.ca?Subject=Hello" target="_top" rel="Email"><i class="fa fa-envelope"></i><span class="hide-text">ac@anitachanthavong.ca</span></a> </li>
				<li><a class="island-1-2 ease-all" title="LinkedIn" href="https://ca.linkedin.com/pub/anita-chanthavong/64/502/916" aria-label="LinkedIn Profile" rel="LinkedIn"><i class="fa fa-linkedin"></i><span class="hide-text">LinkedIn</span></a></li>
				<li><a class="island-1-2 ease-all" title="Behance" href="https://www.behance.net/" aria-label="Behance Profile" rel="Behance"><i class="fa fa-behance"></i><span class="hide-text">Behance</span></a></li>
			</ul>
		</nav>
	</div>
  <hr class="hr-style">
</header>

<hr class="hr-style">

<main id="work" class="unit main grid center unit-xs-1">
	{{content}}
</main>

<hr class="hr-style">

<footer class="grid">
	<div id="about" class="unit gutter center unit-xs-1 unit-s-1">
		<h3 class="push-0 uppercase unit-m-1">About</h3>
		<p class="push-half unit-m-1-2 unit-l-2-3">Aspiring maverick designer, tweaking perfectionist, lover of all things art and creative, and shark enthusiast.</p>
		<p class="secondary push-half unit-m-1-2 unit-l-1-3">Born and raised in <em>Ottawa, Ontario, Canada</em>. Currently attending <em>Algonquin College</em> for <class=>Graphic Design</strong>; graduating Spring 2016. Trained in many areas; specialized in website design, packaging, and print.</p>
		<p class="secondary push-half unit-m-1-2 unit-l-1-3">Inspirations include&mdash;but not limited to&mdash;nature and animals, food and culture, graffiti, comics and superheroes, cars, music, movies, and designer vinyl toys.</p>
	</div>
  <div class="unit unit-xs-1 peta center push-half">
    <a class="ease-all" title="Top!" href="#body"><i class="fa fa-chevron-circle-up"></i></a>
  </div>
	<div class="unit micro center unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		<p class="copyright push-0">&copy; 2015 Anita Chanthavong</p>
	</div>
</footer>
<!--<script src="js/nav.js"></script>-->
</body>
</html>